::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
	background-color: #fff;
	margin: 40px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

div.clear {
	clear: both;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	font-size: 19px;
	font-weight: normal;
	padding: 14px 15px 10px 15px;
}

h2{
	margin-top:10px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#body{
	margin: 0 15px 0 15px;
}

#header {
	border-bottom: 1px solid #D0D0D0;
	margin: 0 0 14px 0;
}

#header h1 {
	float:left;
}

#header h1 a { 
	color: #444;
	text-decoration: none;
}

#header li a { 
	color: #444;
	font-size: 15px;
	font-weight: normal;
	padding: 14px 15px 10px 15px;
	display: block;
	float: left;
}

#header #nav {
	float:right;
	list-style-type: none;
}

#header #nav li{
	display: inline;
}

.mainContent {
	float: left;
	border-left: 1px solid #D0D0D0;
	padding: 10px 15px 10px 15px;
	width:70%;
}

#category_view {
	border-bottom: 1px solid #D0D0D0;
}

/*************************************
******** Style for sidebars **********
*************************************/

.Sidebar {
	width:20%;
	padding: 14px 15px 10px 15px;
}

.leftSide {
	float: left;
	/*border-right: 1px solid #D0D0D0;*/
}

/*************************************
*** Style for main product listing ***
*************************************/

.productBox {
	border: 1px solid #D0D0D0;
	padding: 14px 15px 10px 15px;
	margin: 0 14px 14px 0;
	float:left;
}

.productBox h3{
	margin: 0;
}

.productInfo .price{
	margin: 10px 0;
	font-size: 1.2em;
}

.productBox .priceValue, .productInfo .priceValue{
	font-weight: bold;
}

.productInfo {
	float: left;
	width: 65%;
}

.productImgs {
	float: right;
	width: 300px:
}

/*************************************
*** Style for main product listing ***
*************************************/

.messageUnread, .messageUnread a{
	font-weight: bold;
}

/*************************************
********* Style for footer ***********
*************************************/
.footer {
	clear: both;
}

p.footer {
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

#container{
	margin: 10px;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
}

input[type=password] {
border: 1px solid black;
height: 15px;
}
input[type=text] {
border: 1px solid black;
height: 15px;
}

input[type=submit] { border: 1px solid black; background-color: white; }

label {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
  }

fieldset {
  padding: 1em;
  font:80%/1 sans-serif;
  }

